Generated sequence numbers should be limited to 2^30

The sequence numbers negotiated in AP-REQ authenticator and AP-REP messages, and communicated in KRB-PRIV messages are 32 bit unsigned, according to RFC 4120  § 5.5.1, 5.5.2, 5.6.1, 5.7.1.  Storing the values as signed 64 bit values causes issues when trying to use them as GSSAPI initial sequence numbers, where by the GSSAPI uint64 top four octets get set to 0xffffffff and sequence validation fails.

My apologies, the value being 64 bit in the structs was not the issue here; ASN.1 encodes numbers based on the number of bits used in the value, not on the language type size.  The issue is actually in the generation of the sequence numbers.  Implementations need to limit initial sequence numbers to 2^30 : 
        /*
         * Work around implementation incompatibilities by not generating
         * initial sequence numbers greater than 2^30.  Previous MIT
         * implementations use signed sequence numbers, so initial
         * sequence numbers 2^31 to 2^32-1 inclusive will be rejected.
         * Letting the maximum initial sequence number be 2^30-1 allows
         * for about 2^30 messages to be sent before wrapping into
         * "negative" numbers.
         */

Thanks to Greg Hudson from MIT for explaining the history of this via the kerberos@mit.edu mailing list.
