canonicalize = yes is not respected

2020/08/21 18:17:00 could not initialize context: [Root cause: KRBMessage_Handling_Error] Encoding_Error: TGS Exchange Error: TGS_REP is not valid < KRBMessage_Handling_Error: CName in response does not match what was requested. Requested: {NameType:1 NameString:[XYZ123]}; Reply: {NameType:1 NameString:[xyz123]}


https://github.com/jcmturner/gokrb5/blob/1a5195b5231ea4ccfa61db68270170de75cef1af/messages/KDCRep.go#L187

Maybe it needs to be respected in equal?
https://github.com/jcmturner/gokrb5/blob/107ea7fe30d232edd61ac510d1ff291df612dbfc/types/PrincipalName.go#L40

@digash Thanks for raising this issue. I have fixed some comparison logic on validating AS_REP and TGS_REP messages to work with canonicalize being set and I will be looking to merge this shortly. 

However I have looked into whether checks should be case sensitive or not and I have decided to leave these as case sensitive. The kerberos specification is not completely clear on this. The reasons for for my decision are:
- RFC 4120 Section 7.2.3.1 explicitly states that realm names are case sensitive and as as realm names can sometimes be part of principle names I think that the check should remain case sensitive.
- RFC 4120 Section 1.3 states:

>  Implementation note: Many current implementations do some degree of
   canonicalization of the provided service name, often using DNS even
   though it creates security problems.  However, there is no
   consistency among implementations as to whether the service name is
   case folded to lowercase or whether reverse resolution is used.  To
   maximize interoperability and security, applications SHOULD provide
   security mechanisms with names that result from folding the user-
   entered name to lowercase without performing any other modifications
   or canonicalization.

This implies that it is the application's responsibility to provide the security mechanism with names in the correct case (lowercase by convention) rather than the security library.

* Anecdotally I believe i have experienced other kerberos implementations treat the principal name as case sensitive.